@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');

body {
	width: 100%;
	background-color: var(--lightColor);
	font-family: "Open Sans", sans-serif;

}

.center {
	margin: auto;
}

.container {
	width: 100%;
	height: 100%;
	background-color: var(--lightColor);
	display: flex;
	flex-direction: column;
	font-weight: 500;
}

.header {
	width: 100%;
	height: 7.5rem;
	background-color: var(--whiteColor);
	position: fixed;
	z-index: 999;
}

.header__container {
	max-width: 120rem;
	display: flex;
	justify-content: space-around;
	margin: auto;
}

.header__brand {
	width: 25rem;
	height: 7.5rem;
	display: flex;
	justify-content: flex-start;
	flex-shrink: 0;
}

.header__brand--logo {
	width: 100%;
	height: 7.5rem;
}

.header__brand--image {
	width: 78%;
	height: 7.5rem;
	object-fit: cover;
}

.header__searchbox {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cta-cart {
	height: 100%;
	display: flex;
	justify-content: center;
	font-size: 1.4rem;
	align-items: center;
}

.searchbox {
	width: 60%;
	min-width: 39rem;
	height: 4rem;
	flex-shrink: 0;
	background-color: var(--lightColor);
	border-radius: var(--spaceS);
	display: flex;
	align-items: center;
}

.header__searchbox--input {
	background-color: transparent;
	padding: var(--spaceS);
	flex: 1;
	min-width: 32rem;
}

.header__searchbox--button {
	background-color: var(--primaryColor);
	color: var(--whiteColor);
	width: 7rem;
	height: 100%;
	flex-shrink: 0;
	border-radius: 0px var(--spaceS) var(--spaceS) 0px;
}

.header__right {
	width: 25rem;
	height: 7.5rem;
	display: flex;
	align-items: center;
	justify-content: end;
}

.header__right--container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 4rem;
	justify-content: flex-end;
}

.header__bottom {
	width: 100%;
	display: flex;
	position: fixed;
	z-index: 998;
	margin-top: 7.5rem;
	background-color: var(--whiteColor);
	padding-bottom: var(--space8);
}

.header__bottom--container {
	display: flex;
	width: 120rem;
	margin: auto;
	position: relative;
}

.header__bottom--left {
	width: 20rem;
	height: 4rem;
	margin-right: var(--spaceS);
	background-color: white;
}

.header__bottom--right {
	flex: 1;
	height: 4rem;
	display: flex;
}

.stkbn__container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.stkbn-item {
	width: calc((100% / 5) - var(--space8));
	display: flex;
	min-width: 13rem;
	font-size: 1.3rem;
	padding: 0.6rem 1.2rem;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	border-radius: var(--spaceS);
	background-color: var(--whiteColor);
}

.cta-stk {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: var(--darkColor);
	font-weight: 500;
}

.cta-stk:hover {
	color: var(--primaryColor);
	transition: color 0.3s linear;
}

.cta-stk i {
	margin-right: 0.8rem;
	font-size: 1.3rem;
}

.cat__title {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 600;
	border-radius: inherit;
	color: var(--whiteColor);
	position: relative;
}

.btn-cat {
	cursor: pointer;
}

/* +++++++ MENUDROPDOWN CONTAINER +++++++ */
.dropmenu {
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 100%;
	z-index: 100;
	border-radius: var(--spaceS);
}

.dropmenu.hidden {
	visibility: hidden;
	transition: visibility .3s linear;
}

.dropmenu__container {
	background-color: var(--whiteColor);
	border-radius: var(--spaceS);
	padding: var(--spaceS);
	margin-top: var(--spaceS);
	box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.menu__container {
	width: 100%;
	height: 100%;
	background-color: var(--whiteColor);
	border-radius: var(--spaceS);
	padding: var(--spaceS);
}

.menu-item {
	width: 100%;
	padding: var(--space8);
	border-radius: var(--space8);
	position: relative;
	z-index: 102;
	display: flex;
	height: 3.2rem;
	align-items: center;
	cursor: pointer;
}

.menu-item:hover {
	background-color: var(--primaryColor2);
	transition: background-color .3s linear;
}

.menu-link {
	width: 100%;
	height: 3rem;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	color: var(--darkColor);
}

.menu-link .menu-icon {
	width: 2.5rem;
	height: 3rem;
	display: flex;
	margin-right: .6rem;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.menu-icon img {
	width: 100%;
	height: 100%;
	padding: .3rem;
	color: var(--whiteColor);
}

/* ===== HERO ===== */

.hero {
	width: 100%;
	margin-top: calc(var(--spaceM) + 11rem);
	position: relative;
	display: flex;
	justify-content: center;
}

.hero__container {
	width: 120rem;
	height: 50.4rem;
	display: flex;
	margin: auto;
}

.hero__right {
	flex: 1;
	width: 100%;
	max-width: 988px;
	border-radius: var(--spaceS);
	background-color: var(--whiteColor);
}

.slider {
	max-width: 988px;
	border-radius: inherit;
	height: 100%;
	display: flex;
	position: relative;
	align-items: center;
}

.slider__wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	border-radius: var(--spaceS);
}

.slider__main {
	width: 100%;
	height: 100%;
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.slider-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
}

.slider-item {
	width: 100%;
	height: 100%;
	flex: 1 0 100%;
}

.slider-prev {
	position: absolute;
	left: var(--spaceS);
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	background-color: var(--whiteColor);
	opacity: 0.3;
	cursor: pointer;
	z-index: 10;
}

.slider-prev:hover {
	transition: opacity 0.3s linear;
	opacity: 0.9;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px;
}

.slider-next {
	position: absolute;
	right: var(--spaceS);
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	background-color: var(--whiteColor);
	opacity: 0.3;
	cursor: pointer;
	z-index: 10;
}

.slider-next:hover {
	opacity: 0.9;
	transition: opacity 0.3s linear;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px;
}

.hero__left {
	width: 100%;
	max-width: 20rem;
	border-radius: var(--spaceS);
	margin-right: var(--spaceS);
}

/* ===== PRODUCTS ===== */

.products {
	width: 100%;
	min-width: 120rem;
	height: auto;
	display: flex;
	justify-content: center;
}

.products__container {
	max-width: 120rem;
	height: auto;
	display: flex;
	flex-direction: column;
}

.products__heading {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-left: 5px solid var(--primaryColor);
	background-color: var(--whiteColor);
}

.products__title {
	height: 4rem;
	font-size: 2rem;
	display: flex;
	align-items: center;
	padding: 0rem 1.2rem;
	color: var(--primaryColor);
}

.cta-pdmore {
	padding: 0rem 1.2rem;
	font-size: 1.4rem;
	color: var(--darkColor);
	transition: 0.3s ease-in;
}

.cta-pdmore:hover {
	color: var(--primaryColor);
}

.products__list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: calc(-1 * var(--spaceS));
}

.product__item {
	--col: 4;
	font-size: 2rem;
	background-color: var(--whiteColor);
	border-radius: var(--spaceS);
	width: calc((100% / var(--col)) - var(--spaceS));
	margin-top: var(--spaceS);
	margin-left: var(--spaceS);
	overflow: hidden;
	display: flex;
}

.product__item:hover {
	box-shadow: 0px 5px 20px rgba(11, 113, 232, 0.3);
	transition: box-shadow 0.5s linear;
}

.cta-product {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	color: var(--darkColor);
	position: relative;
}

.product__top {
	height: 25rem;
	padding: var(--spaceS);
	border-radius: inherit;
	margin-bottom: var(--spaceS);
}

.product__bottom {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-top: auto;
}

.product-image {
	width: 100%;
	height: 25rem;
	flex-shrink: 0;
	object-fit: cover;
	border-radius: var(--spaceS) var(--spaceS) 0 0;
}

.product__deal {
	position: absolute;
	width: 100%;
	height: 5rem;
}

.product__deal--container {
	width: 5rem;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--yellowColor);
	color: var(--whiteColor);
	font-size: 1.4rem;
	right: var(--spaceS);
	position: absolute;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px;
}

.product__deal--container span {
	color: var(--redColor);
	font-weight: bolder;
	margin-left: 2px;
}

.product__bottom {
	padding: var(--spaceS);
}

.product-name {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	font-size: 1.5rem;
	margin-bottom: var(--space8);
}

.group-price {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.product-priceOld {
	text-decoration: line-through;
	margin-top: auto;
}

.product-priceNew {
	color: var(--primaryColor);
}

.product__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-bottom: var(--spaceS);
}

.product__btnGroups {
	display: flex;
	justify-content: space-around;
	color: var(--whiteColor);
}

.btn-buy {
	font-weight: 600;
	height: 100%;
}

.btn-cart-delete {
	display: flex;
	justify-content: space-between;
}

.btn-cart-delete:hover {
	background-color: var(--redColor) !important;
	transition: background-color 0.3s linear !important;
}

.btn-cart-delete i {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-addToCart {
	height: 100%;
	font-weight: 600;
	padding: 1.4rem 2rem;
}

.deal-content {
	display: flex;
	flex-direction: column;
	position: absolute;
}

.deal-tg-left {
	width: 0;
	height: 0;
	border-top: 5rem solid transparent;
	border-bottom: 5rem solid transparent;
	border-right: 5rem solid var(--yellowColor);
	position: absolute;
}

.deal-tg-right {
	width: 0;
	height: 0;
	border-top: 5rem solid transparent;
	border-bottom: 5rem solid transparent;
	border-left: 5rem solid var(--yellowColor);
	position: absolute;
}

.cart-qty {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 1.5rem;
}

.qty-container {
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
	border-radius: var(--spaceS);
}

.btn-qty-down {
	width: 3rem;
	height: 100%;
	font-size: 1.8rem;
	background-color: var(--whiteColor);
	border-radius: var(--spaceS) 0 0 var(--spaceS);
}

.btn-qty-down:hover {
	height: 100%;
	transition: all .1s linear;
	font-size: 2.4rem;
	color: var(--primaryColor);
}

.qty-value {
	flex: 1;
	max-width: 5rem;
	-moz-appearance: textfield;
	font-size: 1.8rem;
	text-align: center;
}

.qty-value::-webkit-inner-spin-button,
.qty-value::-webkit-outer-spin-button {
	-webkit-appearance: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.btn-qty-up {
	width: 3rem;
	height: 100%;
	font-size: 1.8rem;
	background-color: var(--whiteColor);
	border-radius: 0 var(--spaceS) var(--spaceS) 0;
}

.btn-qty-up:hover {
	height: 100%;
	color: var(--primaryColor);
	transition: all .3s linear;
	font-size: 2.4rem;

}


/* ===== FOOTER ===== */

.footer {
	width: 100%;
	height: 30rem;
	min-width: 120rem;
	background-color: var(--whiteColor);
	display: flex;
}

.footer__container {
	width: 120rem;
	margin: var(--spaceM) auto;
	display: flex;
}

.footer__info {
	width: 45rem;
	display: flex;
	flex-direction: column;
}

.footer__info--top {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--spaceS);
}

.footer__info--top h2 {
	font-weight: 400;
}

.footer__info--center {
	display: flex;
	flex-direction: column;
	font-size: 1.4rem;
	margin-bottom: var(--spaceS);
}

.footer__info--center a {
	color: var(--primaryColor);
}

.footer__info--bottom {
	width: 40%;
}

.gov-image {
	width: 100%;
}

.footer__adrShowroom {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-left: var(--spaceM);
}

.footer__adrShowroom h2 {
	font-weight: 400;
}

.adrShowroom {
	margin-bottom: var(--space8);
}

.text--marketing {
	font-size: 1.4rem;
	width: 80%;
	margin-bottom: var(--space8);
}

.text--company {
	font-size: 1.4rem;
	display: flex;
	flex-direction: column;
}

/* ===== pagination ===== */

.pagination {
	width: 100%;
	min-width: 120rem;
	height: 6rem;
	padding: var(--spaceS);
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination__container {
	display: flex;
	justify-content: space-around;
	width: 30rem;
	height: 100%;
}

.btn-prev {
	background-color: var(--whiteColor);
}

.btn-next {
	background-color: var(--whiteColor);
}

.btn-number {
	background-color: var(--whiteColor);
	position: relative;
}

.btn-number::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: inherit;
	border: 2px solid var(--primaryColor);
	opacity: 0.5;
}

.btn-pagination {
	width: 3.6rem;
	border-radius: var(--space8);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
}

/* ====== CONTENT ====== */

.content {
	width: 100%;
	min-height: 40rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: var(--spaceM);
	margin-top: calc(10rem + var(--spaceS));
}

.content__container {
	width: 100%;
	max-width: 120rem;
	height: 100%;
	min-height: 55rem;
	display: flex;
	margin: auto;
	flex-direction: column;

}

.content__cart {
	margin-top: calc(12rem);
}

.page__title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.2rem;
	text-align: center;
}

.cart__tbl {
	width: 100%;
	background-color: var(--whiteColor);
	padding: var(--spaceS);
	display: flex;
	justify-content: center;
	margin-top: var(--spaceS);
	border-radius: var(--spaceS);
}

.cart-firstChild {
	height: 5rem !important;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	position: relative;
}

.cart-firstChild::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	border-bottom: 2px solid var(--primaryColor);
	opacity: 0.4;
}

.cart-product {
	min-width: 120rem;
	display: flex;
	justify-content: space-between;
	margin-top: var(--spaceM);
}

.cart-product td {
	font-size: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.cart-product th,
.cart-product td {
	text-align: center;
}

.cart-product td:first-child {
	width: 18rem;
}

.cart-product td:nth-child(2) {
	flex: 1;
}

.cart-product td:nth-child(3) {
	width: 12rem;
}

.cart-product td:nth-child(4) {
	width: 25rem;
}

.cart-product td:nth-child(5) {
	width: 15rem;
}

.cart-image {
	width: 18rem;
	padding: var(--space8);
}

.cart-contentImage {
	width: 15rem;
	object-fit: cover;
}

.cart-empty {
	width: 100% !important;
	min-height: 15rem !important;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cart-empty-title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
}

.group-button {
	width: 100%;
	height: 7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--spaceS);
}

.btn-order {
	height: 100%;
	font-size: 1.6rem;
	margin-right: var(--spaceS);
}

.btn-update {
	height: 100%;
	font-size: 1.6rem;
}



/* ====== formLogin__container ===== */

.formLogin__container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	display: none;
}

.flex-row {
	display: flex;
	flex-direction: row !important;
}

.flex-col {
	display: flex;
	flex-direction: column !important;
}

.ml-s {
	margin-left: var(--spaceS);
}

.ml-m {
	margin-left: var(--spaceM);
}

.form-group-col2 {
	width: calc(100% / 2);
}

.fLogin {
	width: 45%;
	display: flex;
	flex-direction: column;
	background-color: var(--whiteColor);
	border-radius: var(--spaceS);
}

.form-title {
	font-size: 3rem;
	text-align: center;
	flex: 1;
	margin-bottom: var(--spaceM);
}

.form-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
	margin-bottom: var(--spaceS);
}

.form-group label {
	width: 100%;
	height: 2.5rem;
}

.form-group .txtUsername,
.form-group .txtPassword {
	background-color: var(--lightColor);
	height: 4.8rem;
	padding: var(--spaceS);
	font-size: 1.6rem;
	border-radius: var(--space8);
}


.group-button {
	width: fit-content;
	flex-direction: row;
	padding: var(--spaceS);
}


.chk-remember {
	font-size: 1.5rem;
	display: flex;
	height: 2.5rem;
	align-items: center;
}

.chkRemember {
	width: 1.5rem;
	height: 1.5rem;
}

.chk-remember p {
	margin-left: var(--space8);
}

.btn-login,
.btn-cancel {
	height: 100%;
	font-size: 1.5rem;
}


.formLogin__container.active {
	display: flex;
	justify-content: center;
	opacity: 1;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
}

.toRegister {
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
}

.hr {
	width: 100%;
	height: 0.1rem;
	background-color: var(--primaryColor);
	opacity: 0.2;
	margin: 0.4rem 0;
}

.toRegister a {
	margin-left: var(--space8);
}

.form-heading {
	width: 100%;
	height: 7.5rem;
	display: flex;
}

.btn-close {
	padding: 0 !important;
	height: 4.2rem !important;
	width: 4.2rem !important;
	background-color: var(--lightColor);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.2rem;
}

.btn-cancel {
	margin-left: var(--spaceS);
}

.btn-showLogin {
	height: 100%;
	padding: 0.2rem 2.5rem;
	display: block;
	margin-right: var(--spaceS);
	font-size: 1.4rem;
}

.btn-showUser {
	height: 100%;
	padding: 1.2rem 1.2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.4rem;
	margin-right: var(--spaceS);
	position: relative;
}

.btn-showLogin .user-fullname {
	flex: 1;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	justify-content: flex-start;
}

.btn-showUser .show-user {
	width: 3rem;
	height: 3rem;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.show-user i {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-user-user {
	display: none;
}

.btn-menu-mobile {
	display: none;
}

.header__left {
	display: none;
}

.cta-cart {
	width: 5.2rem;
	height: 4.0rem;
}

.menu-mobile {
	display: none;
}


/*========= DROPDOWN USER ======== */

.dropdown-user {
	width: 100%;
	min-width: 20rem;
	height: auto;
	display: none;
	top: 100%;
	right: -2rem;
	flex-direction: column;
	position: absolute;
	padding: var(--space8);
	border-radius: var(--space8);
	background-color: var(--whiteColor);
	box-shadow: 0px 5px 20px rgba(11, 113, 232, 0.3);
}

.dropdown-user.active {
	display: flex;
}

.cta-user-item {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.cta-user-item i {
	width: 3.5rem;
	height: 3.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown-user-item {
	display: flex;
	width: 100%;
	height: 3.5rem;
	flex-direction: row;
	border-radius: var(--space8);

}

.dropdown-user-item:hover {
	background-color: var(--primaryColor2);

}
/* 
.user-item-text {} */

/* ===== REGISTER ===== */
.formRegister__container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	display: none;
}

.formRegister__container.active {
	display: flex;
	justify-content: center;
	opacity: 1;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
}

.fRegister {
	width: 55%;
	display: flex;
	flex-direction: column;
	background-color: var(--whiteColor);
	border-radius: var(--spaceS);
	overflow-y: scroll;
}

.fRegister::-webkit-scrollbar {
	width: 10px;
}

.form-content {
	flex: 1;
	min-height: 55rem;
	display: flex;
	border-radius: var(--spaceS);
}

.form-content-left {
	width: 30rem;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	padding: var(--spaceM);
	background: linear-gradient(120deg, #00c6ff, var(--primaryColor));
	border-radius: var(--spaceS) 0 0 var(--spaceS);
}

.form-content-left .form-content-heading {
	width: 100%;
	height: 15rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-content-left .heading-image {
	width: 100%;
	object-fit: cover;
	border-radius: var(--spaceS) 0 0 var(--spaceS);
}

.form-content-content {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--spaceM);
}

.form-content-content img {
	width: 120%;
	object-fit: cover;
	flex-shrink: 0;
}

.form-content-right {
	flex: 1;
	padding: var(--spaceM);
}


.form-title {
	font-size: 3rem;
	text-align: center;
	flex: 1;
	margin-bottom: var(--spaceM);
}

.form-group {
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
	margin-bottom: var(--spaceS);
}


.group-rdo-gender {
	display: flex;
	flex-direction: row;

}

.rdo-gender {
	align-items: center;
	display: flex;
}

.rdo-gender input {
	width: 1.6rem;
	height: 1.6rem;
	margin-right: .4rem;
}

.rdo-male {
	align-items: center;
	display: flex;
	margin-right: var(--spaceS);
}

.rdo-female {
	align-items: center;
	display: flex;
	margin-right: var(--spaceS);
}

.form-group label {
	width: 100%;
	height: 2.5rem;
}

.form-group .txtUsername,
.form-group .txtPassword,
.form-group .txtRePassword,
.form-group .txtFullname,
.form-group .txtPhone,
.form-group .txtAddress,
.form-group .txtEmail,
.form-group .txtCity,
.form-group .txtZipcode,
.form-group .txtWard,
.form-group .txtTown,
.form-group .txtBirthday,
.form-group .genders {
	background-color: var(--lightColor);
	height: 4.8rem;
	padding: var(--spaceS);
	font-size: 1.6rem;
	border-radius: var(--space8);
}

.form-group .genders {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.btn-showGenders {
	width: 3rem;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.sub-genders {
	width: 100%;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background-color: var(--whiteColor);
}

.sub-genders .rdo-gender {
	width: 100%;
	height: 4.2rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: var(--spaceS);
	cursor: pointer;
	z-index: 99;
}

.sub-genders .rdo-gender:hover {
	background-color: var(--primaryColor2);
}

.sub-genders.active {
	display: block;
}

.form-group .txtPhone::-webkit-outer-spin-button,
.form-group .txtPhone::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.heading-title {
	font-size: 1.8rem;
	font-weight: 600;
	margin-top: var(--spaceS);
	margin-bottom: var(--space8);
}

.heading-title:first-child {
	margin-top: 0;
}

.group-button {
	flex-direction: row;
	justify-content: space-around;
	padding: var(--spaceS);
}

.chk-remember {
	font-size: 1.5rem;
	display: flex;
	height: 2.5rem;
	align-items: center;
}

.chkRemember {
	width: 1.5rem;
	height: 1.5rem;
}

.chk-remember p {
	margin-left: var(--space8);
}

.btn-register,
.btn-cancel {
	height: 100%;
	font-size: 1.5rem;
}

.toLogin {
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
}

.hr {
	width: 100%;
	height: 0.1rem;
	background-color: var(--primaryColor);
	opacity: 0.2;
	margin: 0.4rem 0;
}

.toLogin a {
	margin-left: var(--space8);
}

.form-heading {
	width: 100%;
	height: 7.5rem;
	display: flex;
}

.btn-close {
	padding: 0 !important;
	height: 4.2rem !important;
	width: 4.2rem !important;
	background-color: var(--lightColor);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.2rem;
}

.btn-cancel {
	margin-left: var(--spaceS);
}

/* ======= PRODUCT DETAIL ======= */
.content-product-detail {
	background-color: var(--whiteColor);
	display: flex;
	width: 100%;
	height: 100rem;
	margin-top: calc(10rem + var(--spaceS));
	border-radius: var(--spaceS);
	padding: var(--spaceM);
}

.product-detail {
	width: 100%;
	height: 55rem;
	display: flex;
}

.product-detail-left {
	width: 50%;
	padding: var(--spaceS);
	margin-right: var(--spaceM);
}

.product-detail-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.product-detail-right {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.product-detail-nof {
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
}

.circle {
	width: 4rem;
	height: 4rem;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--lightColor);
}

.circle i {
	color: var(--redColor);
}

.product-detail-name {
	font-size: 2.6rem;
}

.product-detail-id {
	font-size: 1.8rem;
	letter-spacing: 1px;
}

.mt-10 {
	margin-top: 1rem;
}

.mb-10 {
	margin-bottom: 1rem;
}

.mr-10 {
	margin-right: 1rem;
}

.text-gray {
	color: #747d8c;
}

.flex-col2 {
	width: calc(100% / 2);
	display: flex;
}

.product-info {
	font-size: 1.8rem;
}

.product-info li {
	list-style: circle;
}

.product-info-content {
	margin-left: 2.4rem;
}

.group-button-detail {
	width: 65%;
	height: 100%;
}

.group-button-content {
	width: 100%;
	display: flex;
	height: 100%;
	margin-left: calc(-1 * var(--spaceM));
}

.cart-group-button {
	width: 100%;
	margin-top: var(--spaceM);
	margin-bottom: var(--spaceM);
	display: flex;
	justify-content: center;
	align-items: center;
}

.group-button-content button {
	width: calc(100% / 2);
	height: 100%;
	font-size: 1.4rem;
	padding: 1.5rem 2.5rem;
	margin-left: var(--spaceM);
}

.detail-right-content {
	flex: 1;
}

.product-group-price {
	width: 100%;
	height: 10rem;
	display: flex;
	flex-direction: column;
}

.product-price-old {
	font-size: 1.8rem;
	text-decoration: line-through;
}

.product-price-current {
	font-size: 3rem;
}

.product-promotion p {
	padding: var(--spaceS);
	font-weight: 500;
	font-size: 1.5rem;
}

.content-list {
	display: flex;
	width: 100%;
	height: 100%;

	border-radius: var(--spaceS);
}

.content-left {
	width: 20rem;
	background-color: var(--whiteColor);
	border-radius: 5px;
}

.card {
	padding: var(--space8);
}

.card-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: var(--spaceS);
}

.card-content-1 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: var(--spaceS);
}

.card-content-3 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: var(--spaceS);
}

.card-title {
	margin-bottom: var(--space8);
	border-bottom: 1px solid var(--primaryColor2);
	height: 2.5rem;
}

.card-item {
	height: 2.5rem;
	display: flex;
	align-items: center;
}

.card-item:hover input {
	border: 1px solid var(--primaryColor);
}

.card-item input {
	width: 1.3rem;
	height: 1.3rem;
	margin-right: 5px;
	flex-shrink: 0;
}

.card-item p {
	font-size: 1.3rem;
	color: var(--grayColor);
}

.card-item-image {
	width: 80%;
	height: auto;
}

.content-right {
	flex: 1;
	margin-left: var(--spaceS);
}

.lists {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--spaceS));
}

.list-heading {
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	margin-bottom: var(--spaceS);
}

.list-heading::after {
	content: "";
	position: absolute;
	width: 15rem;
	margin: 0 auto;
	height: 100%;
	border-bottom: 2px solid var(--primaryColor);
}

.list-empty {
	width: 100%;
	height: 40rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--whiteColor);
	margin-left: var(--spaceS);
	margin-top: var(--spaceS);
	font-weight: 500;
	border-radius: var(--spaceS);

}

.list-empty img {
	width: 25rem;
	height: auto;
}

.empty-image {
	width: 20rem;
	height: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.empty-image img {
	width: 110%;
	height: 110%;
	object-fit: cover;
}

.list-empty h1 {
	font-size: 2.8rem;
	margin-bottom: var(--spaceS);
}

.list-empty p {
	font-size: 1.5rem;
	margin-bottom: var(--space8);
}

.list-empty a {
	font-size: 1.5rem;
	color: var(--primaryColor);
}

.list-item {
	--col: 4;
	width: calc(100% / var(--col) - var(--spaceS));
	display: flex;
	min-height: 30rem;
	background-color: var(--whiteColor);
	margin-left: var(--spaceS);
	margin-top: var(--spaceS);
	border-radius: var(--spaceS);
}

.list-item:hover {
	box-shadow: 0px 5px 20px rgba(11, 113, 232, 0.3);
	transition: box-shadow 0.5s linear;
}

.pdcat-item {
	width: 100%;
	display: flex;
	padding: var(--spaceS);
	flex-direction: column;
	color: var(--darkColor);
	font-weight: 500;
}

.pdcat-image {
	width: 100%;
	height: 20rem;
	margin-bottom: var(--spaceS);
}

.pdcat-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.pdcat-namepd {
	font-size: 1.4rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	margin-bottom: var(--spaceS);
}

.pdcat-oldPrice {
	font-size: 1.4rem;
	color: var(--grayColor);
	text-decoration: line-through;
}

.pdcat-price {
	font-size: 2.2rem;
	color: var(--primaryColor);
}

/* =======  profile  ======= */

.profile {
	width: 100%;
	height: 100%;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	background-color: var(--whiteColor);
	padding: var(--spaceM);
	border-radius: var(--spaceS);
}

.profile-title {
	width: 100%;
	height: 4rem;
	display: flex;
	font-size: 2.4rem;
}

.profile-content {
	display: flex;
}

.profile-left {
	width: 30rem;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: var(--spaceS);
	margin-right: var(--spaceM);
}

.profile-id {
	padding: .5rem 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	color: var(--primaryColor);
	border: 1px solid var(--primaryColor2);
	border-radius: var(--space8);
	background-color: var(--primaryColor2);
}

.profile-button {
	height: 5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.profile-image {
	width: 20rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}

.profile-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.veri-account {
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--whiteColor);
	position: absolute;
	bottom: 0;
	right: 15px;
	font-size: 1.6rem;
	background-color: var(--greenColor);
}

.wait-account {
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--whiteColor);
	position: absolute;
	bottom: 0;
	right: 15px;
	font-size: 1.6rem;
	background-color: var(--yellowColor);
}

.profile-right {
	flex: 1;
}

.mb-search {
	display: none;
}

/* =======ORDERS======= */

.orders {
	width: 100%;
	max-width: 120rem;
	min-height: 50rem;
	display: flex;
	margin: auto;
	align-items: center;
	flex-direction: column;
	border-radius: var(--spaceS);
	margin-top: var(--spaceS);
}

.orders h1 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
	font-size: 2.4rem;
}

.order-item {
	width: 100%;
	margin-top: 16px;
	border-radius: var(--spaceS);
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #e9ecef;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 7px 10px;
}

.order-item-top {
	width: 100%;
	height: 100%;
	border-radius: var(--spaceS) var(--spaceS) 0 0;
	padding: var(--spaceS);
	background-color: var(--whiteColor);
}

.order-item-bottom {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: var(--spaceS);
	background-color: #f8f9fa;
	border-radius: 0 0 var(--spaceS) var(--spaceS);
}

.order-item-bottom .left {
	width: 100%;
	height: 100%;
	font-size: 1.4rem;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.order-item-bottom .right {
	width: 100%;
	max-width: 40rem;
	display: flex;
	flex-direction: column;
	padding: var(--spaceS);
}

.order-status {
	width: 100%;
	max-width: 40rem;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.order-status .od-status {
	width: fit-content;
	padding: .5rem 1rem;
	border-radius: var(--space8);
	margin-top: var(--space8);
	font-weight: 600;
}

.od-status {
	color: var(--greenColor);
	position: relative;
}

.od-status::after {
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: inherit;
	opacity: .2;
	background-color: currentColor;
	position: absolute;
}

.order-btn {
	padding: 1.2rem 2rem;
	font-size: 1.6rem;
	border-radius: var(--space8);
}

.order-product {
	width: 100%;
	height: 15rem;
	display: flex;
	align-items: center;
	background-color: var(--whiteColor);
	margin-top: var(--spaceS);
}

.order-product:first-child {
	border-radius: var(--spaceS) var(--spaceS) 0 0;
	margin-top: 0;
}

.order-item-button {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: var(--spaceM);
}

.order-btn-detail {
	background-color: var(--primaryColor);
	color: var(--whiteColor);
}

.order-btn-detail a {
	width: 100%;
	display: block;
}

.order-btn-detail:hover {
	background-color: var(--primaryColor2);
	color: var(--primaryColor);
	transition: background-color .2s linear;
}

.order-btn-cancel {
	margin-left: var(--spaceS);
	background-color: #e9ecef;
}

.order-btn-cancel:hover {
	background-color: #fff;
	transition: background-color .3s linear;
}

.order-pd-content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.order-pd-image {
	width: 100%;
	max-width: 15rem;
	height: 100%;
	background-color: var(--lightColor);
}

.total-price-order {
	height: 3rem;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.6rem;
	margin-top: var(--spaceS);
}

.total-price-right {
	padding-left: 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 2.2rem;
}

.order-empty {
	width: 100%;
	min-height: 40rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--whiteColor);
	border-radius: var(--spaceS);
	font-size: 1.4rem;
}

/* ===== ORDER-DETAIL ==== */

.order-detail {
	width: 100%;
	max-width: 120rem;
	min-height: 50rem;
	display: flex;
	margin: auto;
	align-items: center;
	flex-direction: column;
	border-radius: var(--spaceS);
	margin-top: var(--spaceS);
}

.order-detail h1 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
	font-size: 2.4rem;
}

.odd-wp {
	width: 100%;
	min-width: 40rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--whiteColor);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: var(--spaceS);
}

.odd-heading {
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.4rem;
	padding: var(--spaceS);
	border-bottom: 1px solid var(--lightColor);
}

.odd-heading .left {
	width: 30%;
	display: flex;
	align-items: center;
}

.odd-heading .right {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.order-detail-id span {
	margin-right: .5rem;
}

.order-detail-status {
	margin-left: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.odd-status {
	color: var(--greenColor);
	position: relative;
}

.odd-status {
	color: var(--greenColor);
	position: relative;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .5rem 1rem;
	border-radius: var(--space8);
	font-weight: 600;
}

.odd-status:after {
	color: var(--greenColor);
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: currentColor;
	opacity: .2;
	border-radius: var(--space8);
}

.odd-content {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: var(--spaceS);
	padding: var(--spaceS);
	padding-left: var(--spaceS);
	padding-right: var(--spaceS);
	background-color: var(--lightColor2);
}

.odd-product {
	width: 100%;
	height: 12rem;
	display: flex;
	align-items: center;
	background-color: var(--lightColor);
	margin-top: var(--spaceS);
	border-bottom: 1px solid var(--darkLightColor);
	border-top: 1px solid var(--darkLightColor);
	border-right: 1px solid var(--darkLightColor);
}

.odd-pd-name {
	height: auto;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}

.odd-product:first-child {
	margin-top: 0;
}

.odd-pd-content {
	width: 100%;
	height: 100%;
	display: flex;
	font-size: 1.8rem;
	color: var(--darkColor);
}

.odd-pd-detail {
	display: flex;
	align-items: flex-start;
	margin-left: var(--spaceS);
	flex-direction: column;
	flex: 1;
}

.odd-pd-image {
	width: 15rem;
	height: 100%;
	flex-shrink: 0;
	background-color: var(--lightColor);
	display: flex;
	justify-content: center;
	align-items: center;
}

.odd-pd-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.odd-ship-detail {
	width: 100%;
	height: 25rem;
	padding: var(--spaceS);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-bottom: 1px solid var(--lightColor);
}

.odd-ship-content {
	width: 100%;
	height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.sd-ship-wp {
	width: 100%;
	height: 100%;
	min-height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;

}

.sd-point-wp {
	width: calc(100% / 5);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.sd-process-wp {
	width: 75%;
	height: 1rem;
	background-color: var(--lightColor);
	position: absolute;
	z-index: 1;
}

.sd-process-load {
	width: 50%;
	height: inherit;
	background-color: var(--greenColor);
}

.sd-status-wp {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.sd-status-text {
	width: calc(100% /5);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-left: var(--spaceL);
	padding-right: var(--spaceL);
	text-align: center;
	font-size: 1.6rem;
}

.status-point {
	width: 6rem;
	height: 6rem;
	border-radius: 100%;
	border: 4px solid var(--greenColor);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.4rem;
	background-color: var(--whiteColor);
	color: var(--greenColor);
}

.status-point.active {
	background-color: var(--greenColor);
	color: var(--whiteColor);
}

.odd-pd-qty {
	display: flex;
	align-items: flex-end;
	margin-top: var(--spaceL);
	color: var(--grayColor);
	font-size: 1.6rem;
}

.odd-pd-price {
	width: 40%;
	max-width: 15rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: var(--spaceS);
}

.odd-button {
	width: 100%;
	height: 10rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: var(--spaceS);
	background-color: #F8F9FA;
}

.odd-btn {
	padding: 1.5rem 2.5rem;
	font-size: 1.6rem;
	margin-left: var(--spaceS);
	border-radius: var(--space8);
	background-color: #F8F9FA;
}

.odd-btn-received {
	background-color: var(--primaryColor);
	color: var(--whiteColor);
}

.odd-btn-received:hover {
	background-color: var(--primaryColor2);
	color: var(--primaryColor);
	transition: background-color .3s linear;
}

.odd-btn-contact:hover,
.odd-btn-complain:hover {
	background-color: var(--lightColor);
	color: var(--darkColor);
	transition: background-color .3s linear;
}

.odd-address {
	width: 100%;
	min-height: 28rem;
	display: flex;
	flex-direction: column;
}

.odd-address-heading {
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--spaceS);
	border-bottom: 1px solid var(--lightColor);
}

.odd-heading-left {
	min-height: 28rem;
	height: 100%;
	display: flex;
	text-align: left;
	align-items: center;
	font-size: 1.4rem;
}

.odd-heading-left h1 {
	font-size: 2rem;
}

.odd-address-right {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.4rem;
}

.odd-address-status {
	width: 100%;
	display: flex;
	align-items: flex-end;
	border-left: 1px solid var(--lightColor);
}

.odd-shipcode {
	margin-left: var(--spaceS);
	font-size: 1.6rem;
	font-weight: 600;
}

.odd-address-buyer {
	width: 100%;
	height: 100%;
	min-height: 28rem;
	padding: var(--spaceS);
	font-size: 1.4rem;
	max-width: 35rem;
	line-height: 1.5;

}

.odd-address-name {
	font-size: 1.6rem;
}

.odd-address-phone {
	color: var(--grayColor);
}

.odd-address-address {
	color: var(--grayColor);
}

.odd-address-wp {
	height: 100%;
	min-height: 28rem;
	display: flex;
	margin-top: var(--spaceS);
}

.address-status {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.address-point-wp {
	min-width: 6rem;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.address-point.active {
	background-color: var(--greenColor);
}

.address-point {
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 100%;
	background-color: var(--lightColor);
	display: flex;
	justify-content: center;
	align-items: center;
}

.address-status-item {
	width: 100%;
	min-height: 4rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: var(--space8);
	color: var(--grayColor);
}

.address-status-item:first-child {
	color: var(--greenColor);
	font-weight: 600;
}

.address-status-content {
	display: flex;
}

.address-date-wp {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	color: var(--grayColor);
}

.address-date {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.address-date-time {
	margin-right: var(--space8);
}

.address-log-wp {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.4rem;
	margin-left: var(--spaceS);
}

.odd-bottom {
	width: 100%;
	height: 100%;
	background-color: var(--lightColor2);
	padding: var(--spaceS);
	border-radius: 0 0 var(--spaceS) var(--spaceS);
	border-top: 1px solid var(--darkLightColor);
}

.odd-bottom-row {
	width: 100%;
	min-height: 5rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-bottom: 1px solid var(--darkLightColor);
}

.odd-bottom-row:last-child {
	border: none;
}

.odd-bottom-left {
	width: 70%;
	font-size: 1.3rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: var(--grayColor);
	padding-right: var(--spaceS);
}

.odd-bottom-right {
	width: 30%;
	height: 100%;
	max-width: 18rem;
	font-size: 1.5rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-left: 1px solid var(--darkLightColor);
}

.total-paid {
	font-size: 2.2rem;
}

.voucher-apply {
	margin-left: var(--space8);
	display: none;
	font-weight: 600;
	font-size: 1.4rem;
}

.voucher-apply.active {
	display: block;
}
/* Hướng dẫn trả góp */
.payment{
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.color-title{
	background-color: var(--whiteHover) ;
	width: 10px;
	height: 40px;
}
.title-payment{
	color: var(--primaryHover);
	font-size: 30px;
	border-radius: 5px;
	height: 45px;
	display: flex;
	left: 50px;
}
.img-payment{
	text-align: center;
}
.img-payment img {
	width: 60%;
}
.nhungdieukien {
	margin-top: 10px;
}
/* hướng dẫn thanh toán */
.thanhtoan{
	width: 80%;
	margin: auto;
	margin-top: 10px;
}
.thanhtoan .noidung {
	margin-top: 2px;
	font-size: 17px;
}
.noidung img {
	text-align: center;
}