html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button {
    outline: none;
    border: none;
}

:root {
    --primaryColor: #0B71E8;
    --primaryHover: #0e4482;
    --redColor: #F03C3D;
    --redHover: #f14c4c;
    --orangeColor: #FF5E02;
    --orangeHover: #fa6b19;
    --greenColor: #19C796;
    --greenHover: #2ddaa9;
    --whiteColor: #fff;
    --lightColor: #EFF2F9;
    --lightHover: #d8d9da;
    --darkColor: #111;
    --darkHover: #444;
    --space8: .8rem;
    --spaceS: 1.2rem;
    --spaceM: 2.4rem;
}

.btn {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 1.2rem 2.5rem;
    cursor: pointer;
}

.text-primary {
    color: var(--primaryColor);
}

.text-dark {
    color: var(--darkColor);
}

.text-red {
    color: var(--redColor);
}

.text-green {
    color: var(--greenColor);
}

.text-orange {
    color: var(--orangeColor);
}

.text-white {
    color: var(--whiteColor);
}

.text-primary-hover:hover {
    color: var(--primaryHover);
    transition: color .3s linear;
}

.text-red-hover:hover {
    color: var(--redHover);
    transition: color .3s linear;
}

.text-green-hover:hover {
    color: var(--greenHover);
    transition: color .3s linear;
}

.text-orange-hover:hover {
    color: var(--orangeHover);
    transition: color .3s linear;
}

.bg-primary-hover:hover {
    color: var(--whiteColor);
    background-color: var(--primaryColor);
    transition: all .3s linear;
}

.bg-red-hover:hover {
    background-color: var(--redHover);
    transition: all .3s linear;
    color: var(--whiteColor);
}

.bg-green-hover:hover {
    background-color: var(--greenColor);
    transition: all .3s linear;
    color: var(--whiteColor);
}

.bg-orange-hover:hover {
    background-color: var(--orangeColor);
    transition: all .3s linear;
    color: var(--whiteColor);
}

.btn-primary {
    color: var(--whiteColor);
    background-color: var(--primaryColor);
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--primaryHover);
    transition: background-color .3s linear;
}

.btn-light {
    background-color: var(--lightColor);
    cursor: pointer;
}

.btn-light:hover {
    background-color: var(--lightHover);
    transition: all .3s linear;
}

.btn-red {
    background-color: var(--redColor);
    cursor: pointer;
}

.btn-red:hover {
    background-color: var(--redHover);
    transition: all .3s linear;
    color: var(--whiteColor);
}

.btn-dark {
    color: var(--whiteColor);
    background-color: var(--darkColor);
    cursor: pointer;
}

.btn-dark:hover {
    background-color: var(--darkHover);
    transition: all .3s linear;
    color: var(--whiteColor);
}

.menu-item {
    width: 100%;
    position: relative;
}

.menu-item::after {
    width: 0%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    z-index: 0;
}

.cta-menu {
    z-index: 1;
}

.menu-item:hover::after {
    width: 100%;
    height: 3.5rem;
    cursor: pointer;
    background-color: var(--primaryColor);
    transition: width .32s ease-out;
    opacity: .3;
}

.cta-link {
    text-decoration: none;
    cursor: pointer;
}

.cta-white {
    color: var(--whiteColor);
}

.rounded-8 {
    border-radius: var(--space8);
}

.rounded {
    border-radius: var(--spaceS);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .backdrop-blur {
        background-color: rgba(255, 255, 255, .8);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }
}