@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

body {
    background-color: var( --whiteColor);
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
}
.container {
    position: relative;
    width: 100%;
}
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--primaryHover);
    border-left: 10px solid var(--primaryHover);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--whiteColor);
}
.navigation ul li:nth-child(1){ /*  khoảng cách dòng đầu tiên */
    margin-bottom: 40px;
    pointer-events: none;
    left: 25px;
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--whiteColor);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--primaryHover);
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}
.navigation ul li a .title {
   position: relative;
   display: block;
   padding: 0 10px;
   height: 60px;
   line-height: 60px;
   text-align: start;
   white-space: nowrap;
}
.navigation ul li a .title img {
    width: 200px; 
}
/* đường con bên ngoài */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var( --whiteColor);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var( --whiteColor);
    pointer-events: none;
}

/* main */
.main 
{
    position: absolute;
    width:  calc(100% - 300px);
    left: 300px;
    min-height: var(--whiteColor);
    transition: 0.5s;
}

.main.active {
    width:  calc(100% - 80px);
    left: 80px;
}

.topbar 
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label {
    position: relative;
    width: 100%;
}
.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 30px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--darkHover);
}
.search label input:focus {
    border: 3px solid dodgerblue;
}
.search label ion-icon {
    position: absolute;
    top : 0;
    left: 10px;
    font-size: 1.2rem;
}
.action {
    /* position: fixed; */
    position: relative;
    right: 10px;
}
.action .user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.action .user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.action .menu {
    position: absolute;
    top: 60px;
    right: -10px;
    padding: 10px 20px;
    background: var(--whiteColor);
    width: 250px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}
.action .menu.active{
    top: 50px;
    visibility: visible;
    opacity: 1;
}
.action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: var(--whiteColor);
    transform: rotate(45deg);
}
.action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--primaryColor);
    line-height: 1.2em;
}
.action .menu h3 span {
    font-size: 14px;
    color: var(--text-grey);
    font-weight: 200;
}
.action .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}
.action .menu ul li i{
    
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}
.action .menu ul li:hover i {
    opacity: 1;
}
.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: 500;
    transition: 0.5s;
}
.action .menu ul li:hover a {
    color: var(--primaryHover);
}

/* add product */
/* .add_product {
    position: relative;
    width: 96%;
    padding: 20px;
    margin: auto;
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px; */
    /* background: var( --whiteColor);
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08); */

/* .add_product .title {
    position: relative;
   font-size: 25px;
   font-weight: 500;
}
.add_product .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: var(--primaryHover);
}
.add_product form .input_product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 17px;
}
form .input_product .input_box{
    width: calc(100% / 2 - 10px);
    margin: 2px 0 2px 0;
}
.input_product .input_box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.input_product .input_box input {
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
}
.input_product .input_box textarea {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
}
.input_product .input_box select {
    height: 30px;
    width: 35%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    padding-right: 5px;
}
/* .input_product .input_img{
    width: 35%;
} */ 
.add_product {
    position: relative;
    width: 96%;
    padding: 20px;
    margin: auto;
    display: grid;
    /* grid-template-columns: repeat(4,1fr);
    grid-gap: 30px; */ 
     background: var( --whiteColor);
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08); 
}
.add_product .title {
    position: relative;
   font-size: 25px;
   font-weight: 500;
}
.add_product .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: var(--primaryHover);
}
.add_product form {
    position: relative;
    width: 100%;
    /* padding: 20px; */
    display: grid;
    grid-template-columns: 1fr 1.5fr; /*chia làm 2 phần */
    /* grid-gap : 30px;  khoảng cách 2 phần */
    margin-top: 10px;
}
.add_product form .input_left .input_box  {
    margin-top: 5px;
}
.add_product form .input_left .title_product {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}
.add_product form .input_left input{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border : 1px solid #ccc;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
form .input_left .input_box textarea {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border : 1px solid #ccc;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
form .input_left .input_box textarea:focus{
/* form .input_left .input_box textarea:valid { */
    border-color: var(--primaryHover);
}
.add_product form .input_left input:focus
 {
    border-color: var(--primaryHover);
}
.add_product form .input_left select {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border : 1px solid #ccc;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.add_product form .input_left select:focus{
/* .add_product form .input_left select:valid { */
    border-color: var(--primaryHover);
}
.add_product form .input_right  {
    margin-left: 30px;
    font-size: 15px;
    float: right;
}
.add_product form .input_right .input_box .title_product {
    margin-bottom: 5px;
}
.add_product form .input_right .input_img {
    width: 80%;
    height: 100%;
}
.add_product form .input_right .input_img .wrapper {
    position: relative;
    width: 100%;
    height: 87%;
    border-radius: 10px;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.add_product form .input_right .input_img .wrapper .image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}
form .input_right .input_img .wrapper .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* .input_right .input_img .wrapper .center ion-icon {
    font-size: 20px;
} */
.add_product form .input_right .input_img #custom-btn{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: block;
    border: none;
    color: var(--whiteColor);
    background: linear-gradient(135deg, rgb(68, 171, 255) 0%, #0B71E8 100%);
}
/* .add_product form .input_right .input_img .wrapper .center {
    display: flex;
align-items: center;
   justify-content: center;
} */
/* form .input_right .input_box select {
    height: 40px;
    width: 70%;
} */

.add_product .wrap {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 5px ;
}
.add_product .wrap .item{
    padding: 5px;
}
.add_product .wrap .item .btn {
    outline: none;
    display: block;
    border: 0;
    font-size: 16px;
    line-height: 1;
    padding: 12px 20px;
    border-radius: 10px;
    background: var(--blue);
    color: var(--whiteColor);
    cursor: pointer;
    transition: all 0.2s linear;
}
.add_product .wrap .item .btn:hover, .btn:focus {
    background: var(--primaryHover);
}
.add_product .wrap .item .btn:active {
    background: var(--primaryColor);
}
.add_product .wrap .item .btn-outline {
    outline: none;
    display: block;
    border: 0;
    font-size: 16px;
    line-height: 1;
    padding: 12px 20px;
    border-radius: 10px;
    background: var(--orangeHover);
    color: var(--whiteColor);
    cursor: pointer;
    transition: all 0.2s linear;
}
.add_product .wrap .item .btn-outline:hover, .btn-outline:focus{
    background: var(--orangeColor);
}
.add_product .wrap .item .btn-outline:active{
    background: var(--redColor);
}